# Lab 10: Vectors, iteration, and functional programming

In [17]:
library(tidyverse)
library(nycflights13)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

# Vectors and Lists

In [1]:
vector1 = c(1, 'A', T, 2.3)
print(vector1)

[1] "1"    "A"    "TRUE" "2.3"

In [2]:
1:10

seq(from = 1, to = 10, by = 1)

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

In [3]:
list1 = list(c(2, 5, 3), 21.3, sin)
print(list1)

[[1]]
[1] 2 5 3

[[2]]
[1] 21.3

[[3]]
function (x)  .Primitive("sin")

# Subsetting a vector / list

http://www.r-tutor.com/r-introduction/list

In [4]:
vector1[1]
vector1[1:3]

[1] "1"

[1] "1"    "A"    "TRUE"

In [5]:
idx = c(T, F, F, T)
vector1[idx]

[1] "1"   "2.3"

In [6]:
list1

[[1]]
[1] 2 5 3

[[2]]
[1] 21.3

[[3]]
function (x)  .Primitive("sin")

In [7]:
list1[1]
class(list1[1])

[[1]]
[1] 2 5 3

[1] "list"

In [8]:
list1[[1]]
class(list1[[1]])

[1] 2 5 3

[1] "numeric"

# [, [[, \$

In [10]:
mydata = iris
colnames(iris)

[1] "Sepal.Length" "Sepal.Width"  "Petal.Length" "Petal.Width"  "Species"

In [11]:
myvars = c('Sepal.Length', 'Species')
newdata = mydata[myvars]
head(newdata)

  Sepal.Length Species
1 5.1          setosa
2 4.9          setosa
3 4.7          setosa
4 4.6          setosa
5 5.0          setosa
6 5.4          setosa

In [9]:
iris[1, 3:5]

  Petal.Length Petal.Width Species
1 1.4          0.2         setosa

In [13]:
head(iris[[1]])
iris[[1]][2]

[1] 5.1 4.9 4.7 4.6 5.0 5.4

[1] 4.9

In [15]:
myvars = c('Sepal.Length', 'Petal.Length')
newdata = mydata[myvars]
head(newdata)

  Sepal.Length Petal.Length
1 5.1          1.4
2 4.9          1.4
3 4.7          1.3
4 4.6          1.5
5 5.0          1.4
6 5.4          1.7

In [19]:
colMeans(newdata)
map_dbl(newdata, mean, na.rm = T)
map_dbl(newdata, sd, na.rm = T)

Sepal.Length Petal.Length
    5.843333     3.758000

Sepal.Length Petal.Length
    5.843333     3.758000

Sepal.Length Petal.Length
   0.8280661    1.7652982

## Q1:
1. How does `[[` differ from `[` when you are subseting a list?
2. How do you extract the last value of an atomic vector?
3. How do you extract every value but the last value of an atomic vector?
4. Why is `x[-which(x > 0)]` not the same as `x[x <= 0]` where `x` is an atomic vector?

## Q2: use loop to do the following, store the result in a vector:
1. Compute the mean of every column in mtcars with na.rm argument being true
2. Determine the type of each column in nycflights13::flights.
3. Compute the number of unique values in each column of iris.

In [2]:
# task 1

In [3]:
# task 2

In [4]:
# task 3

## Q3: repeat Q1 with map functions rather than loops:

## Q4: suppose Joe wants to climb n stairs, at each step, Joe can climb 1 stair or 2 stairs; write a function to find out many different ways are there for Joe to climb n stairs. Example: if n=3, then Joe has 3 ways: (1,1,1), (1,2), and (2,1).

## Q5: What's a more efficient way of doing Q4? Can you use memoization? (suppose n < 1000)