# Lab 9

In [1]:
library(tidyverse)
library(nycflights13)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.1.1       ✔ purrr   0.3.2
✔ tibble  2.1.1       ✔ dplyr   0.8.0.1
✔ tidyr   0.8.3       ✔ stringr 1.4.0
✔ readr   1.3.1       ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Q1:
1. How does `[[` differ from `[` when you are subsetting a list?
2. How do you extract the last value of an atomic vector?
3. How do you extract every value but the last value of an atomic vector?
4. Why is `x[-which(x > 0)]` not the same as `x[x <= 0]` where `x` is an atomic vector?

1. check http://www.r-tutor.com/r-introduction/list

2.

In [2]:
x  = c(-3,-2,-1)
x[length(x)]

[1] -1

3.

In [3]:
x[-length(x)]

[1] -3 -2

4.

In [4]:
which(x > 0)

integer(0)

In [5]:
print(x[-which(x > 0)])
print(x[x<=0])

numeric(0)
[1] -3 -2 -1

It would work if `which` condition is not empty

In [6]:
x  = c(-3,-2,-1, 1)
print(x[-which(x > 0)])
print(x[x<=0])

[1] -3 -2 -1
[1] -3 -2 -1

## Q2: use loop to do the following, store the result in a vector:
1. Compute the mean of every column in mtcars with na.rm argument being true
2. Determine the type of each column in nycflights13::flights.
3. Compute the number of unique values in each column of iris.

In [7]:
seq_along(mtcars)

 [1]  1  2  3  4  5  6  7  8  9 10 11

In [8]:
# task 1
mtcars_mean <- vector('double')
for (i in seq_along(mtcars)){
    mtcars_mean[i] <- mean(mtcars[[i]], na.rm = TRUE)
}
mtcars_mean

 [1]  20.090625   6.187500 230.721875 146.687500   3.596563   3.217250
 [7]  17.848750   0.437500   0.406250   3.687500   2.812500

In [9]:
# task 2
ftype <- vector('character')
for (i in seq_along(flights)){
    ftype[i] <- typeof(flights[[i]])
}
ftype

 [1] "integer"   "integer"   "integer"   "integer"   "integer"   "double"
 [7] "integer"   "integer"   "double"    "character" "integer"   "character"
[13] "character" "character" "double"    "double"    "double"    "double"
[19] "double"

In [10]:
# task 3
irisuniq <- vector('integer')
for (i in seq_along(iris)){
    irisuniq[i] <- length(unique(iris[[i]]))
}
irisuniq

[1] 35 23 43 22  3

## Q3: repeat Q2 with map functions rather than loops and apply:

In [11]:
map_dbl(mtcars, mean, na.rm = T)
#mtcars_mean = sapply(mtcars, mean)
map_chr(flights, typeof)
#ftype = sapply(flights, typeof)
map_int(iris, ~ length(unique(.)))
#irisuniq = sapply(iris, function(x) length(unique(x)))

       mpg        cyl       disp         hp       drat         wt       qsec
 20.090625   6.187500 230.721875 146.687500   3.596563   3.217250  17.848750
        vs         am       gear       carb
  0.437500   0.406250   3.687500   2.812500

          year          month            day       dep_time sched_dep_time
     "integer"      "integer"      "integer"      "integer"      "integer"
     dep_delay       arr_time sched_arr_time      arr_delay        carrier
      "double"      "integer"      "integer"       "double"    "character"
        flight        tailnum         origin           dest       air_time
     "integer"    "character"    "character"    "character"       "double"
      distance           hour         minute      time_hour
      "double"       "double"       "double"       "double"

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
          35           23           43           22            3

## Q4: suppose Joe wants to climb n stairs, at each step, Joe can climb 1 stair or 2 stairs; write a function to find out many different ways are there for Joe to climb n stairs. Example: if n=3, then Joe has 3 ways: (1,1,1), (1,2), and (2,1).

In [12]:
nways <- function(n){
    if (n == 1) return(1)
    if (n == 2) return(2)
    return(nways(n-1) + nways(n-2))
}
nways(5)

[1] 8

## Q5: What's a more efficient way of doing Q4? Can you use memoization? (suppose n < 1000)

In [15]:
memo <- rep(NA, 1000)
nwaysmemo <- function(n){
    if (n == 1) return(1)
    if (n == 2) return(2)
    if (!is.na(memo[n])){
        return(memo[n])
    } else{
        memo[n] <<- nwaysmemo(n-1) + nwaysmemo(n-2)
        return(memo[n])
    }
}
nwaysmemo(5)

[1] 8

In [14]:
ptm <- proc.time()
nways(30)
print(proc.time() - ptm)

ptm <- proc.time()
rm(memo)
memo <- rep(NA, 1000)
nwaysmemo(30)
print(proc.time() - ptm)

[1] 1346269

   user  system elapsed
   0.56    0.00    0.56

[1] 1346269

   user  system elapsed
  0.003   0.003   0.006